@ccc-toolkit:registry=https://npmjs.sheincorp.cn
@shein-bbl:registry=https://npmjs.sheincorp.cn
@types/shein-bbl__react:registry=https://npmjs.sheincorp.cn
# 内部源npmjs.sheincorp.cn的npm包和官方包存在版本的延迟，
# 例如某包最新版本是1.0.2，但是在内部源版本只到1.0.1，会导致找不到1.0.2版本的包从而导致报错
# 所以若非严格限制的话，就先用官方源，不然每个版本都需锁定
registry=https://registry.npmjs.org/
# registry=https://npmjs.sheincorp.cn
strict-peer-dependencies=false

